@import "tailwindcss";

:root {
  --font-ui: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --panel-gap: 8px;
  --left-sidebar-width: 420px;
  --right-sidebar-width: 420px;

  --above-everything-grid-area-z-index: 10;
  --below-search-dropdown-z-index: 9;

  --cinema-mode-bg-color-from: #535353ff;
  --cinema-mode-bg-color-to: #353535ff;

  --lyrics-color-active: rgba(255, 255, 255, 1);
  --lyrics-color-inactive: rgba(205, 205, 205, 1);
  --lyrics-color-passed: rgba(255, 255, 255, 1);
  --lyrics-color-background: rgba(53, 53, 53, 1);
  --lyrics-color-messaging: rgba(205, 205, 205, 1);

  --background-base: #121212;
  --background-noise: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj4KICAgPGZpbHRlciBpZD0ibiIgeD0iMCIgeT0iMCI+CiAgICAgIDxmZVR1cmJ1bGVuY2UgdHlwZT0iZnJhY3RhbE5vaXNlIiBiYXNlRnJlcXVlbmN5PSIwLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIiAvPgogICAgICA8ZmVDb2xvck1hdHJpeCB0eXBlPSJzYXR1cmF0ZSIgdmFsdWVzPSIwIiAvPgogICA8L2ZpbHRlcj4KICAgPHJlY3Qgd2lkdGg9IjMwMCIgaGVpZ2h0PSIzMDAiIGZpbHRlcj0idXJsKCNuKSIgb3BhY2l0eT0iMC4wNSIgLz4KPC9zdmc+);
  --background-highlight: #1f1f1f;
  --background-press: #000;
  --background-elevated-base: #1f1f1f;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #191919;
  --background-tinted-base: #ffffff1a;
  --background-tinted-highlight: #ffffff24;
  --background-tinted-press: #ffffff36;
  --text-base: #fff;
  --text-subdued: #b3b3b3;
  --text-bright-accent: #1ed760;
  --text-negative: #f3727f;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #4cb3ff;
  --essential-base: #fff;
  --essential-subdued: #7c7c7c;
  --essential-bright-accent: #1ed760;
  --essential-negative: #ed2c3f;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #4cb3ff;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}

@theme {
  --color-background-base: var(--background-base);
  --color-background-highlight: var(--background-highlight);
  --color-background-press: var(--background-press);

  --color-background-elevated-base: var(--background-elevated-base);
  --color-background-elevated-highlight: var(--background-elevated-highlight);
  --color-background-elevated-press: var(--background-elevated-press);

  --color-background-tinted-base: var(--background-tinted-base);
  --color-background-tinted-highlight: var(--background-tinted-highlight);
  --color-background-tinted-press: var(--background-tinted-press);

  --color-text-base: var(--text-base);
  --color-text-subdued: var(--text-subdued);
  --color-text-bright-accent: var(--text-bright-accent);
  --color-text-negative: var(--text-negative);
  --color-text-warning: var(--text-warning);
  --color-text-positive: var(--text-positive);
  --color-text-announcement: var(--text-announcement);

  --color-essential-base: var(--essential-base);
  --color-essential-subdued: var(--essential-subdued);
  --color-essential-bright-accent: var(--essential-bright-accent);
  --color-essential-negative: var(--essential-negative);
  --color-essential-warning: var(--essential-warning);
  --color-essential-positive: var(--essential-positive);
  --color-essential-announcement: var(--essential-announcement);

  --color-decorative-base: var(--decorative-base);
  --color-decorative-subdued: var(--decorative-subdued);

  --color-lyrics-active: var(--lyrics-color-active);
  --color-lyrics-inactive: var(--lyrics-color-inactive);
  --color-lyrics-passed: var(--lyrics-color-passed);
  --color-lyrics-background: var(--lyrics-color-background);
  --color-lyrics-messaging: var(--lyrics-color-messaging);
}

body {
  scrollbar-width: none;
  flex-direction: column;
  width: 100%;
  min-width: 800px;
  height: 100%;
  min-height: 600px;
  line-height: normal;
  display: flex;
  overflow: hidden;
  font-family: var(--font-ui);
  color: var(--color-text-base);
  background-color: #000;
}
.app-shell {
  display: grid;
  height: 100vh;
  width: 100%;
  min-width: 800px;
  min-height: 600px;
  overflow: visible;
  background-color: #000;
  gap: var(--panel-gap);
  grid-template:
    "top-banner      top-banner      top-banner" auto
    "global-nav      global-nav      global-nav" auto
    "left-sidebar    main-view       right-sidebar" 1fr
    "now-playing-bar now-playing-bar now-playing-bar" auto
    / auto 1fr auto;
}

.global-nav {
  grid-area: global-nav;
  background-color: #000;
  padding: calc(var(--panel-gap));
  margin: calc(var(--panel-gap) * -1);
  overflow: visible;
  position: relative;
  z-index: 11;
}

.left-sidebar {
  grid-area: left-sidebar;
  width: calc(var(--left-sidebar-width, 420) * 1px);
  background-color: var(--background-elevated-base);
  border-radius: 8px;
  overflow: hidden;
}

.left-sidebar.full {
  /*grid-column: 1 / 3;
  width: auto;
  max-width: none;
  */
  grid-area: left-sidebar / left-sidebar / main-view / main-view;
  width: 100%;
  position: relative;
  z-index: var(--below-search-dropdown-z-index);
}

.main-view {
  grid-area: main-view;
  background-color: var(--background-elevated-base);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.right-sidebar {
  grid-area: right-sidebar;
  background-color: var(--background-elevated-base);
  width: calc(var(--right-sidebar-width, 420) * 1px);
  border-radius: 8px;
  /* transition: width 0.3s ease; */
  overflow: hidden;
  position: relative;
}

.right-sidebar.full {
  grid-column: 2 / 4;
  width: auto;
  max-width: none;
}

.now-playing-bar {
  grid-area: now-playing-bar;
  background-color: #000;
  margin: calc(var(--panel-gap) * -1);
  padding: calc(var(--panel-gap));
}

/* .app-shell:has(.left-sidebar.full) .main-view {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 0;
  min-width: 0;
  overflow: hidden;
} */

.app-shell:has(.right-sidebar.full) .left-sidebar,
.app-shell:has(.right-sidebar.full) .main-view {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 0;
  min-width: 0;
  overflow: hidden;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}

/* .left-sidebar,
.right-sidebar {
  transition: all 0.5s cubic-bezier(0.3, 0, 0.4, 1);
} */

.sidebar-left-filler {
  grid-area: left-sidebar;
  /* display: none; */
  width: calc(var(--left-sidebar-width, 420) * 1px);
}

/* .sidebar-right-filler {
  grid-area: right-sidebar;
  width: calc(var(--right-sidebar-width, 420) * 1px);
} */

/* Scrollbar */
.os-theme-spotify {
  --os-size: 12px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 10px;
  -ss-os-track-bg: transparent;
  --os-track-bg-hover: transparent;
  --os-track-bg-active: transparent;
  /* --os-handle-border-radius: 10px; */
  --os-handle-bg: rgba(255, 255, 255, 0.3);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.5);
  --os-handle-bg-active: rgba(255, 255, 255, 0.5);
}

.os-theme-spotify > .os-scrollbar-vertical {
  width: 12px;
  padding: 2px;
}

.os-theme-spotify > .os-scrollbar-horizontal {
  height: 12px;
  padding: 2px;
}

.os-theme-spotify > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: background 0.2s;
}

.os-theme-spotify > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(255, 255, 255, 0.5);
}

.os-theme-spotify > .os-scrollbar > .os-scrollbar-track {
  background: transparent;
}

/* Ensure OverlayScrollbars takes full height */
.os-host,
.os-viewport {
  display: block;
}

/* Layout Resizer */
.layout-resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 16px;
  cursor: grab;
  user-select: none;
  z-index: 100;
}

.layout-resizer-left {
  left: -8px;
}

.layout-resizer-right {
  right: -8px;
}

.layout-resizer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: transparent;
  transition: background-color 0.2s;
}

.layout-resizer:hover::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.layout-resizer:active::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.layout-resizer-input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}

/* Animasi murni menggunakan scale sesuai inspect element Spotify */
@keyframes spotifyImageScale {
  0% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.animate-spotify-scroll {
  animation: 1s linear spotifyImageScale;
  -webkit-animation: 1s linear spotifyImageScale;
  animation-fill-mode: both;
  background-attachment: scroll;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
